/* Golbal */
* {
    
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
/* End Golbal */
/* header */
.header {
    background-color:  #4e2a84;
}

.header .logo {
    font-size: 40px;
}

.header__navbar .nav-item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: white;
    transition: all 0.4s;
}
.header__navbar .nav-item:hover::after, .header__navbar .navbar-nav .active::after {
    width: 100%;
}
/* End header */



/* carousel */
.carousel {
    background-image: url(../images/b3.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel h1 {
    font-size: 70px;
    font-weight: 600;
}

.carousel p {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.carousel button {
    color: white;
    background-color: #ff0c83;
    padding: 10px 20px;
    border: 1px solid  #ff0c83;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 600;
}
/* END CAROUSEL */


/* intro */
.intro .item-2{
    background-image: url(../images/ab1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center center;
}

.intro .item-1 {
    background-color: #4D2A83;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro .item-1 h1 {
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
}

.intro .item-1 p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 20px;
    z-index: 100;
}

.intro .item-3 {
    background-color: #FF0E83;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro .item-3 h1 {
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
}

.intro .item-3 p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 20px;
    z-index: 100;
}

.intro .item-4{
    background-color: #ED6498;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro .item-4 h1 {
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
}

.intro .item-4 p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 20px;
    z-index: 100;
}

.intro .item-5{
    background-image: url(../images/ab2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.intro .item-6 {
    background-color: #836EAA;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro .item-6 h1 {
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
}

.intro .item-6 p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 20px;
    z-index: 100;
}

.intro .item-7{
    background-image: url(../images/ab3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center center;
}

.intro .item-8 {
    background-color: #4E2A84;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro .item-8 h1 {
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
}

.intro .item-8 p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 20px;
    z-index: 100;
}
.intro .item-9{
    background-image: url(../images/ab4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center center;
}

/* overlay */
.intro .item {
    position: relative;
    overflow: hidden;
}
.intro .item .overlay {
    position: absolute;
    top: 0;
    left: -700%;
    background-color: rgb(0, 0, 0, 0.4);
    transform: skewX(45deg);
    width: 500%;
    height: 100%;
    transition: all 2s;
}

.intro .item:hover .overlay {
    left: -100%;
    transition: all 2s;
}
/* -----end overlay------- */

/* end intro */

/* satistic */
.statistic {
    padding: 100px 0 !important;
}
.statistic .container .item > h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.statistic .container .item > p {
    text-align: center ;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px; 
} 
/* End statistic */

/* video */
.video {
    padding: 0 200px;
    padding-bottom: 80px;
}
.video .item video, .video .item iframe  {
    display: block;
    width: 100%;
    height: 500px;
}
/* End video */

/* team */
.team {
    padding: 80px 0;
    background-color:#4e2a84 ;
}

.team .container > h1 {
    font-size: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
}

.team .container .item img {
    display: block;
    width: 100%;
}



.team .item .info > h1 {
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.team .item .info > p {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.team .item {
    position: relative;
}
.team .info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 30px;
    background-color: #FF0E83;
    width: 100%;
    padding: 15px;
}

.team .detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: all 0.4s ease;
  }

.team .item .detail h1 {
    font-size: 1.5rem;
    color: #c62584;
  }
  
.team .item .detail span {
    display: block;
    margin: 0.5rem 0;
  }
.team .item .detail .social i {
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 2.3rem;
    margin-right: 0.5rem;
    transition: all 0.5s;
}

.team .item .detail .social i:hover {
    color: #ff0c83 !important;
    border: 2px solid #ff0c83 !important;
    transition: all 0.5s;
}

.team .item:hover .info {
    display: none;
}
.team .item .detail {
    /* display: none; */
    /* fade */
    opacity: 0;
    visibility: hidden;
}

.team .item:hover .detail {
    opacity: 1;
    visibility: visible;
}
/* End team */

/* contact */
.contact {
    padding: 80px;
}
.contact .container > h1 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 50px;
    font-weight: 600;
}
.contact .form-group input {
    width: 100%;
    height: 50px;
    display: block;
}

.contact  .container .row .form-group input[type="text"],
.contact  .container .row .form-group input[type="email"],
.contact  .container .row textarea
{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.contact .form-group button {
    background-color: #FF0E83;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 1px solid #FF0E83 ;
    border-radius: 5px;
}
/* End contact */


/* map */
.map iframe {
    display: block;
    width: 100%;
    height: 700px;
}
/* End map */

/* addrss */
.add {
    padding: 80px 0; 
}
.add .info{
    text-align: center;
    font-size: 30px;
}

.add .info i {
    margin-bottom: 15px;
}
.add .info p {
    font-size: 17px;
}

.add .info p:first-child{
    padding-bottom: 0;
}

.footer {
    padding: 80px 0;
background-color: black;
}

.footer h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    color:  #FF0E83;
}
.footer .item {
    font-size: 18px;
    color: white;
    font-weight: 400;
    /* line-height: 15px; */
}

.footer .item .social i {
    border: 3px solid white;
    color: white;
    /* display: none; */
    margin-right: 15px;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
    transition: all 0.5s;
}

.footer .item .social i:hover {
    color: #ff0c83 !important;
    border: 2px solid #ff0c83 !important;
    transition: all 0.5s;
}
.footer .item .time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    padding-bottom: 5px;
}
.footer .item .time a {
    text-decoration: none;
    color: white;
    padding-top: 5px;
    align-items: center;
} 

.footer .item input {
    display: block;
    height: 40px;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
}

.footer .item button {
    background-color:#FF0E83 ;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100px;
    /* color: white; */
    font-weight: 400;
    letter-spacing: 2px;

}

.footer .item button:hover {
    color: white;
}

.footer .text__footer .dir { 
    text-decoration: none !important;
    color: #FF0E83  !important;
    font-size: 20px !important;
    text-align: center !important;
    align-items: center center !important;
    padding-left: 5px;
    transition: all 0.5s;
}

.footer .text__footer .dir:hover {
    color: white !important;
    transition: all 0.5s;
}


/* End address */


@media screen and (max-width: 768px) {
    .header__navbar .nav-item {
        padding-bottom: 20px;
    }
    .intro .item h1 {
        padding-top: 50px;
    }

    .intro .item p {
        /* padding: 0px px; */
        padding-bottom: 50px;
    }

    .statistic .item-3, .statistic .item-4 {
        padding-top: 100px;
    }

    .video .item-2 {
        padding-top: 40px;
    }

    .add .info-2, .add .info-3 {
        padding-top: 30px;
    }

    .footer .item-2, .footer .item-3, .footer .item-4 {
        padding-top: 80px;
    }

    .team .item .detail h1 {
        font-size: 3rem;
        color: #c62584;
      }
      
    .team .item .detail span {
        display: block;
        margin: 0.5rem 0;
        font-size: 40px !important;
      }
    .team .item .detail .social i {
        width: 3rem;
        height: 3rem;
        border: 2px solid #ffffff;
        text-align: center;
        line-height: 3rem;
        margin-right: 0.5rem;
        transition: all 0.5s;
    }

}

@media screen and (max-width: 992px) {
    .header__navbar .nav-item {
        padding-bottom: 20px;
    }
    .intro .item h1 {
        padding-top: 50px;
    }
    .intro .item p {
        padding: 0px 200px;
        padding-bottom: 50px;
    }

    .statistic .item-3, .statistic .item-4 {
        padding-top: 100px;
    }
    .video .item-2 {
        padding-top: 60px;
    }

    .add .info-2, .add .info-3 {
        padding-top: 30px;
    }

    .footer .item-2, .footer .item-3, .footer .item-4 {
        padding-top: 80px;
    }
}